{% extends "layout.html" %}
{% block content %}
<div class="invoice-wrap">
    <div class="invoice-box">
        <div class="invoice-header">
            <div class="logo text-center">
                <img src="vendors/images/deskapp-logo.png" alt="" />
            </div>
        </div>
        <h4 class="text-center mb-30 weight-600">INVOICE</h4>
        <div class="row pb-30">
            <div class="col-md-6">
                <h5 class="mb-15">{{ data['name'] }}</h5>
                <p class="font-14 mb-5">
                    Date Issued: <strong class="weight-600">{{ date }}</strong>
                </p>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <p class="font-14 mb-5">{{ data['name'] }}</p>
                    <p class="font-14 mb-5">{{ data['province'] }}</p>
                    <p class="font-14 mb-5">{{ data['city'] }}</p>
                </div>
            </div>
        </div>
        <div class="invoice-desc pb-30">
            <div class="invoice-desc-head clearfix">
                <div class="invoice-sub">Produk</div>
                <div class="invoice-rate">Harga</div>
                <div class="invoice-hours">Quantity</div>
                <div class="invoice-subtotal">Subtotal</div>
            </div>
            <div class="invoice-desc-body">
                <ul>
                    <li class="clearfix">
                        <div class="invoice-sub">{{ data['produk'] }}</div>
                        <div class="invoice-rate">{{ data['price'] }}</div>
                        <div class="invoice-hours">{{ data['qty'] }}</div>
                        <div class="invoice-subtotal">
                            <span class="weight-600">Rp. {{ subtotal }}</span>
                        </div>
                    </li>
                   
                </ul>
            </div>
            <div class="invoice-desc-footer">
                <div class="invoice-desc-head clearfix">
                    <div class="invoice-rate">Kurir</div>
                    <div class="invoice-rate">Ongkir</div>
                    <div class="invoice-subtotal">Total</div>
                </div>
                <div class="invoice-desc-body">
                    <ul>
                        <li class="clearfix">
                            <div class="invoice-rate font-20 weight-600">
                                {{ data['courier'] }}
                            </div>
                            <div class="invoice-rate font-20 weight-600">
                                {{ data['shipping_cost'] }}
                            </div>
                            <div class="invoice-subtotal">
                                <span class="weight-600 font-24 text-danger">Rp. {{ total }}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="pb-20">Message: {{ data['message'] }}</h4>
    </div>
</div>
{% endblock %}